{{ define "main" }}
<section class="section">
  <div class="container">
    <div class="row mb-40">
      <div class="col-md-6 text-center mb-5 mb-lg-0">
        <img class="img-fluid" loading="lazy" src="{{ .Params.image | absURL }}" alt="">
      </div>
      <div class="col-md-6 align-self-center text-center text-md-left">
        {{ with .Params.office }}
        <h2 class="font-weight-bold mb-4">{{ .title | markdownify }}</h2>

        <p>{{ .content | markdownify }}</p>
        <ul class="list-unstyled contact-list">
          {{with .mobile}} <li class="mb-3"><a href="tel:{{ . }}"><i class="tf-ion-ios-telephone mr-2"></i>
              {{ . }}</a></li>{{ end }}
          {{with .emailContact}}<li class="mb-3"><a href="mailto:{{ . }}?subject=feedback"><i class="tf-ion-email mr-2"></i>{{ . }}</a></li>{{end }}
          {{with .emaiRecrutementl}}<li class="mb-3"><a href="mailto:{{ . }}?subject=feedback"><i class="tf-ion-email mr-2"></i>{{ . }}</a></li>{{end }}
          {{with .emailGestion}} <li class="mb-3"><a href="mailto:{{ . }}?subject=feedback"><i class="tf-ion-email mr-2"></i>{{ . }}</a></li>{{end }}
          {{with .emailEvenementiel}}<li class="mb-3"><a href="mailto:{{ . }}?subject=feedback"><i class="tf-ion-email mr-2"></i>{{ . }}</a></li>{{end }}
          {{with .emailLogistique}}<li class="mb-3"><a href="mailto:{{ . }}?subject=feedback"><i class="tf-ion-email mr-2"></i>{{ . }}</a></li>{{end }}

          <li class="mb-3"><i class="tf-ion-ios-location mr-2"></i>
            <a href="{{ .locationlink }}" target="#blank">{{ .location }}</a>
          </li>
          <!-- <li class="mb-3"><i class="tf-ion-ios-location mr-2"></i>
            <a href="geo:{{ .gpslink }}" target="#blank">{{ .gpslink }}</a>
          </li> -->
          <li class="mb-3"><i class="tf-ion-social-facebook mr-2"></i>
            <a href="{{ .facebooklink }}" target="#blank">{{ .facebook }}</a>
          </li>
          <li class="mb-3"><i class="tf-ion-social-instagram mr-2"></i>
            <a href="{{ .instalink }}" target="#blank">{{ .insta }}</a>
          </li>
          <li class="mb-3"><i class="tf-ion-social-linkedin mr-2"></i>
            <a href="{{ .linkedinlink }}" target="#blank">{{ .linkedin }}</a>
          </li>
          <li class="mb-3"><i class="tf-ion-social-youtube mr-2"></i>
            <a href="{{ .youtubelink }}" target="#blank">{{ .youtube }}</a>
          </li>
        </ul>
        {{ end }}
      </div>
    </div>

<!--
    <div class="row justify-content-center">
      {{ with .Params.office }}
      <div class="col-lg-5 col-sm-6 mb-5">
        <h2 class="font-weight-bold mb-4">{{ .title | markdownify }}</h2>
        <p>{{ .content | markdownify }}</p>
        <ul class="list-unstyled contact-list">
          {{with .mobile}} <li class="mb-3"><a href="tel:{{ . }}"><i class="tf-ion-ios-telephone mr-2"></i>
              {{ . }}</a></li>{{ end }}
          {{with .email}} <li class="mb-3"><a href="mailto:{{ . }}"><i class="tf-ion-email mr-2"></i>{{ . }}</a></li>
          {{end }}
          {{with .location }} <li class="mb-3"><i class="tf-ion-ios-location mr-2"></i>{{ . }}
          </li>{{ end }}
        </ul>
      </div> -->
      <!-- {{ end }} -->
      <div class="col-lg-10 col-sm-6 mb-5">
        {{ with .Params.contact }}
        <p>{{ .content | markdownify }}</p>
<!--        <ul class="list-unstyled contact-list">
          {{with .emailRecrutement}}<li class="mb-3"><a href="mailto:{{ . }}?subject=feedback"><i class="tf-ion-email mr-2"></i>{{ . }}</a></li>{{end }}
          {{with .emailGestion}} <li class="mb-3"><a href="mailto:{{ . }}?subject=feedback"><i class="tf-ion-email mr-2"></i>{{ . }}</a></li>{{end }}
          {{with .emailEvenementiel}}<li class="mb-3"><a href="mailto:{{ . }}?subject=feedback"><i class="tf-ion-email mr-2"></i>{{ . }}</a></li>{{end }}
          {{with .emailLogistique}}<li class="mb-3"><a href="mailto:{{ . }}?subject=feedback"><i class="tf-ion-email mr-2"></i>{{ . }}</a></li>{{end }}
        </ul>-->
        {{ end }}
      </div>
      <div class="col-lg-3 col-sm-6 mb-5">
        {{ with .Params.opennig_hour }}
        <h2 class="font-weight-bold mb-4">{{ .title | markdownify }}</h2>
        <ul class="list-unstyled">
          {{ range .day_time }}
          <li class="mb-2">{{ . | markdownify }}</li>
          {{ end }}
        </ul>
        {{ end }}
      </div>
    </div>

    <!-- <div class="row justify-content-center">
      <div class="col-lg-8">
        <h2 class="font-weight-bold mb-4">{{ .Title | markdownify }}</h2>
        <form action="{{ site.Params.contact_form_action }}" method="POST" class="row">
          <div class="col-lg-6 mb-3">
            <input type="text" class="form-control mb-2" id="name" name="name" placeholder="Your Name">
          </div>
          <div class="col-lg-6 mb-3">
            <input type="email" class="form-control mb-2" id="email" name="email" placeholder="Your Email">
          </div>
          <div class="col-12 mb-3">
            <textarea name="message" id="message" class="form-control mb-2" placeholder="Your Message"></textarea>
          </div>
          <div class="col-12 text-right">
            <button type="submit" value="send" class="btn btn-main btn-main-sm">{{ i18n "send" }}</button>
          </div>
        </form>
      </div>
    </div> -->

    <!-- <img src="" alt="plan" > -->
  </div>
</section>

{{ end }}
