<!DOCTYPE html>
<html lang="{{ with site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
{{- partial "head.html" . -}}

<body id="body">
	{{- partial "preloader.html" . -}}
	{{- partial "header.html" . -}}
	{{- partial "banner.html" . -}}
	{{- block "main" . }}{{- end }}
	{{- partial "subscription.html" . -}}
	{{- partial "footer.html" . -}}
</body>

</html>