{{ define "main" }}
<section class="feature-list section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-5">
        <h1 class="font-weight-bold">{{.Title}}</h1>
      </div>
    </div>
    <div class="description">
      {{ .Content }}
    </div>
    {{ range $index, $element := (where .Site.RegularPages.Reverse "Section" .Params.id )}}
      {{- if ne (mod $index 2) 1 }}
      <div class="row mb-40">
        <div class="col-md-6 text-center mb-5 mb-lg-0">
          <img class="img-fluid" loading="lazy" src="{{ .Params.image | absURL }}" alt="">
        </div>
        <div class="col-md-6 align-self-center text-center text-md-left">
          <div class="content">
            <h4 class="subheading">{{ .Title | markdownify }}</h4>
            {{ .Content }}
          </div>
        </div>
      </div>
      {{- else }}
      <div class="row mb-40">
        <div class="col-md-6 order-md-1 order-2 align-self-center text-center text-md-left">
          <div class="content">
            <h4 class="subheading">{{ .Title | markdownify }}</h4>
            {{ .Content }}
          </div>
        </div>
        <div class="col-md-6 order-md-2 order-1 text-center mb-5 mb-lg-0">
          <img class="img-fluid" loading="lazy" src="{{ .Params.image | absURL }}" alt="">
        </div>
      </div>
      {{ end }}
    {{ end }}
  </div>
</section>

{{ end }}
