@import 'mixins';

// Variables
$primary-font: 'Droid Serif',
sans-serif;
$secondary-font: 'Droid Serif',
serif;
$primary-color: #80a898;
$secondary-color: #bb4b00;
$icon-font: 'themefisher-font' !important;

/*--
    Common Css
--*/
body {
  font-size: 14px;
  font-weight: 300;
  line-height: 25px;
  color: #3b4045;
  font-family: $primary-font;
  -webkit-font-smoothing: antialiased;
}

/*
section:first-of-type {
  padding: 0;
}
*/

#features {
  padding-top: 0;
}

#features h4:before {
    background-image: url("../images/flechev.png");
    background-size: 2em 1em;
    display: inline-block;
    width: 2em; 
    height: 1em;
    content:"";
    top: .1em;
    position: relative;
    margin-right: 0.3em;
}


#features blockquote p:before {
  content: "«";
}
#features blockquote p:after {
  content: "»";
}

#features blockquote p {
  font-size: 150%;
}

#features blockquote p {
  color: #687a61;
  text-align: center;
}

body,
header {
  background-color: #f5f5ef !important;
}
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 999999;
  display: flex;
  align-items: center;
  justify-content: center
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  margin: 0px;
}

h1,
h2 {
  color: #b76e22 !important;
}
#features h4 {
  color: #687a61 !important;
}

h1,
.h1 {
  font-size: 44px;
  line-height: 56px;
}

h2,
.h2 {
  font-size: 30px;
  line-height: 35px;
}

h3,
.h3 {
  font-size: 23px;
  line-height: 25px;
}

h4,
.h4 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

p {
  font-size: 18px;
  line-height: 25px;
}

ul {
  padding: 0;
  margin: 0;
}

a {
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

.mt-100 {
  margin-top: 100px;
}

.bg-1 {
  background-image: url(../images/call-to-action.jpg);
}

.bg-orange {
  background: $primary-color;
}

.bg-opacity {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
  }
}

a:focus,
.btn:focus,
.btn:active:focus {
  box-shadow: none;
  outline: 0 none;
}

a,
a:active,
a:focus,
a:active {
  text-decoration: none;
}


.contain .row {
  margin-right: 0;
}

.contain .row div {
  padding-right: 0;
}

.section {
  padding: 60px 0;
}

.font-size-60 {
  font-size: 60px;
  line-height: 1.2;

  @include mobile {
    font-size: 40px;
  }
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-40 {
  margin-bottom: 40px;
}

.slick-slide {
  outline: 0
}

.presentation img {
  width: 100%;
}

img.full-width {
  width: 100%;
}

/*--
    custom heading
--*/
.text-center {
  text-align: center;
}

.bg-orange a {
  color: #3b4045;
}

.text-white {
  color: #f5f5ef !important;
}

.heading {
  text-align: center;
  color: #777777;
  padding-bottom: 70px;

  h2 {
    color: #3c3c3c;
    padding-bottom: 15px;
    /*text-transform: capitalize;*/
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
  }

  p {
    font-size: 17px;
    line-height: 24px;
    font-weight: 300;
  }
}

.subheading {
  color: #3c3c3c;
  padding-bottom: 15px;
  /* text-transform: capitalize; */
  font-weight: 500;
  font-size: 32px;
  line-height: 45px;
}

.feature-list .description {
  margin-bottom: 6em;
}
.feature-list .subheading {
  padding-bottom: 0;
  margin-bottom: 0;
}

.btn {
  border-radius: 0;
  text-decoration: none !important;
}

.btn-main {
  color: #fff;
  border-radius: 30px;
  font-size: 18px;
  padding: 15px 40px;
  display: inline-block;
  background-color: $secondary-color;
  background-image: linear-gradient(bottom, rgba(255, 239, 206, 0) 0%, rgba(255, 239, 206, 0.25) 100%);

  &:hover,
  &:focus {
    background-color: $primary-color;
    color: #fff;
  }
}

.btn-main-sm {
  padding: 12px 35px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

/* navigation */
.navbar {
  &-brand {
    color: #444;
    font-size: 25px;
    margin: 0;
    line-height: 1;
  }
}

.nav-link {
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px !important;
}

.navbar-light .navbar-nav .nav-link {
  color: #444;
}

.lang-list {
  border: 0;
  margin: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}


/* cart */
.cart {
  background: transparent;
  border: 0;
  position: relative;
  i{
    font-size: 20px;
  }

  @include desktop {
    position: absolute;
    top: 23px;
    right: 90px;
  }

  .badge {
    position: absolute;
    top: -5px;
    border-radius: 50%;
    right: -10px;

  }
  &:focus{
    outline: 0;
  }
}

.badge-primary{
  background-color: $primary-color;
}

/*--
    Feature-list start
--*/
.feature-list {
  .btn-main {
    margin-top: 15px;
  }
}

/*--
  Gallery start
--*/
.gallery {
  padding-bottom: 100px;

  .owl-item {
    overflow: hidden;
    position: relative;
  }

  .block {
    padding: 20px;
    position: relative;

    &:hover .gallery-overlay {
      transform: scale(1);
      opacity: 1;
      border-radius: 0;
    }
  }

  .gallery-overlay {
    position: absolute;
    bottom: 15px;
    left: 15px;
    right: 15px;
    top: 15px;
    background: rgba(255, 255, 255, 0.85);
    text-decoration: none;
    color: inherit;
    -webkit-transform: scale(.7);
    transform: scale(.7);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    z-index: 2;
    opacity: 0;
    border-radius: 50%;

    .gallery-popup {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      background: $primary-color;
      padding: 5px 10px;
      border-radius: 40px;
      width: 50px;
      height: 50px;

      i {
        color: #fff;
        font-size: 30px;
        line-height: 40px;
        display: inline-block;
      }
    }
  }
}

/*--
    service start
--*/
.testimonials {
  .testimonial-block {
    padding: 0 10px;

    i {
      font-size: 40px;
      display: inline-block;
      margin-bottom: 20px;
      color: $primary-color;
    }

    p {
      font-family: $secondary-font;
      font-size: 14px;
      color: #777;
    }

    .author-details {
      margin-top: 30px;

      img {
        border-radius: 50%;
        width: 100px;
      }

      h4 {
        font-weight: 700;
        font-size: 20px;
        margin-top: 10px;
      }
    }
  }
}

/*--
    call-to-action start
--*/
.call-to-action {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.input-group {
  margin-top: 30px;
  position: relative;

  .btn-submit {
    padding: 10.5px 40px !important;
    position: absolute;
    // border-top-left-radius: 0;
    // border-bottom-left-radius: 0;
    top: 0;
    right: 0;
  }

  input {
    height: 50px;
    border-radius: 40px;
    border: none;
    padding-left: 15px;
    box-shadow: none;
    display: table-cell;
  }
}

.footer-menu {
  a {
    font-size: 14;
    font-weight: 700;
    color: #444;
    padding: 10px;
  }
}

footer {
  text-align: center;
  background: #f4f4f4;
  padding: 50px 0px;

  .footer-logo {
    color: #555;
    display: block;
  }

  p.copyright-text {
    font-weight: 300;
    font-size: 11px;
    color: #888;
    letter-spacing: 3px;
    margin-top: 15px;

    a {
      color: #282828;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

// product single
p.price {
  font-size: 30px;
  font-family: $secondary-font;
}

s.price {
  color: red;
  font-size: 25px;
  font-family: $secondary-font;
}

.product-info {
  text-align: center;

  .price {
    font-size: 100%;
  }
}

// contact list
.contact-list {

  li,
  a {
    color: #282828;
    font-size: 18px;
  }
}

.form-control {
  border: 1px solid #dadada;
  border-radius: 35px;
  height: 50px;

  &:focus {
    border-color: $primary-color;
    box-shadow: none;
  }

  &::placeholder {
    font-size: 80%;
  }
}

textarea.form-control {
  height: 150px;
  padding-top: 15px;
}

.sticky-image {
  position: sticky;
  top: 100px;
  z-index: 1;
}


/* product sinngle page */

.product-image-slider {
  position: sticky;
  top: 80px;
  .slick-list {
    margin-bottom: 10px;
    border-radius: 5px;
  }

  .slick-dots {
    margin-top: 10px;
    padding-left: 0;
    display: flex;

    li {
      list-style-type: none;
      margin: 10px;
      border-radius: 5px;
      padding: 10px;
      cursor: pointer;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      img {
        max-height: 80px;
        height: auto;
        max-width: 100%;
      }
    }
  }
}



/* content style */
.content {
  * {
    margin-bottom: 20px;
  }

  a {
    text-decoration: underline;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 10px;
  }

  ol,ul {
    padding-left: 10px;
  }

  table {
    text-align: left;
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    border: 1px solid #dee2e6;

    th,
    td {
      padding: .75rem;
      vertical-align: top;
      border: 1px solid #dee2e6
    }

    thead {
      background: darken($color: #dadada, $amount: 2);
    }

    tbody {
      background: #dadada;

      td {
        text-align: left !important;
      }
    }
  }


  blockquote {
    border-left: 1px solid $primary-color;
    padding: 20px;

    p {
      margin-bottom: 0;
      font-style: italic;
      font-size: 22px;
      font-weight: 500;
    }
  }
  
  pre {
    padding: 10px 20px;
    background: #dadada;
  }
}

.link-title{
  color: inherit;
  text-decoration: none !important;
  &:hover{
    color: $primary-color;
  }
}

a.nav-link:hover {
  /* filter: brightness(50%); */
  background: #b76e22;
}

#navigation ul.dropdown {
  display: block;
  z-index: 99;
  right: auto;
  overflow: hidden;
}

#navigation ul.dropdown li {
  float: left;
  background: #f5f5ef;
  width: 100%;
  height: auto;
  z-index: -100;
}

@media (max-width: 991px) {
  #navigation ul.dropdown li {
    padding-left: 3em;
  }
}

@media (min-width: 992px) {
  #navigation ul.dropdown {
    position: absolute;
  }

  #navigation ul.dropdown li {
    display: none;
    text-align: left;
  }

  #navigation li:hover ul.dropdown li {
    display: inline;
  }

  #navigation li ul.dropdown li:hover {
    /* filter: brightness(50%); */
    background: #b76e22;
  }
}
