{{ define "main" }}

  {{ $data := index .Site.Data .Site.Language.Lang }}

  {{- if $data.homepage.banner.enable }}
  {{- with $data.homepage.banner }}
  <!-- hero area -->
  <section class="section">
         <div class="container">
                 <div class="row">
                         <div class="col-md-6 text-center mb-5 mb-md-0">
                                <iframe width="540" height="360" src="https://www.youtube.com/embed/KGt82gCoB_c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                 <!-- <img class="img-fluid" src="{{ .image | absURL }}" alt="">
                                 <video width="540" height="360" controls autoplay>
                                        <source src="{{ .video | absURL }}" type=video/mp4>
                                </video> -->
                         </div>
                         <div class="col-md-6 align-self-center text-center text-md-left">
                                 <div class="block">
                                         <h1 class="font-weight-bold mb-4 font-size-60">{{ .title | markdownify }}</h1>

                                 <div class="mb-40 text-center text-md-left">
                                   <h4 class="font-weight-bold mb-2">{{ .subtitle | markdownify }}</h4>
                                   <p>{{ .content | markdownify }}</p>
                                 </div>

                                         <!-- <p class="mb-4">{{ .content | markdownify }}</p> -->
                                         {{ if .button.enable }}
                                         {{ with .button }}
                                         <a href="{{.link|absLangURL}}" class="btn btn-main">{{.label}}</a>
                                         {{ end }}
                                         {{ end }}
                                 </div>
                         </div>
                 </div><!-- .row close -->
         </div><!-- .container close -->
  </section><!-- header close -->
  {{- end }}
  {{- end }}


  {{- partial "features.html" . }}

  {{- partial "about-product.html" . }}

  {{- partial "promo.html" . }}

  {{- partial "testimonials.html" . }}

{{ end }}