<div class="contain">
  <div class="row">
    <div class="col-md-12 full-width">
    	<a href="{{ site.BaseURL | absURL }}">
  <!--<a href="https://fr.ulule.com/lechalutier2021" target='_blank'>-->
    		<img class="full-width" src="{{ site.Params.banner | absURL }}">
    	</a>
    </div>
  </div>
</div>