<footer>
  <div class="container text-center">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <ul class="list-inline footer-menu">
            {{ range site.Menus.footer }}
            <li class="list-inline-item">
              <a href="{{ .URL | absLangURL }}">{{ .Name }}</a>
            </li>
            {{ end }}
          </ul>
          <br>
          <table align=center>
            <tr>
              <td><a href="https://www.facebook.com/lechalu" target="#blank"><h3 class="mb-3"><i class="tf-ion-social-facebook"></i></a></td>
              <td width=20></td>
              <td><a href="https://www.instagram.com/tierslieuchalutier/" target="#blank"><h3 class="mb-3"><i class="tf-ion-social-instagram"></i></a></td>
            </tr>
          </table>
          <p class="copyright-text">{{ site.Params.copyright | markdownify }}</p>
        </div>
      </div>
    </div>
  </div>
</footer>


<!-- Snipcart public key -->
<!-- {{with site.Params.snipcart_api}}<div hidden id="snipcart" data-api-key="{{.}}"></div>{{end}} -->

<!-- JS Plugins -->
{{ range site.Params.plugins.js}}
<script src="{{ .link | absURL }}"></script>
{{ end }}

<!-- Main Script -->
{{ $script := resources.Get "js/script.js" }}
<script src="{{ $script.Permalink }}"></script>