{{ define "main" }}
<section class="section presentation">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 text-center mb-5">
        <h1 class="font-weight-bold">{{.Title}}</h1>
      </div>
      <div class="col-lg-10 mb-5">
        <div class="content">
          {{.Content}}
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}
